@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Rubik', sans-serif;
  --isc-bg-card-color: #f3f3f3;
  --isc-title-color: #00b5bd;
  --isc-border-color: #0c55f2;
  --isc-font-color: #1c0d02;
  --isc-empty-star: #d1d1d1;
  --isc-stars-color: #00b27d;
  --isc-out-stock-color: #b20035;
  --isc-border-color-filter: var(--isc-font-color);
  --isc-box-shadow-color: var(--isc-font-color);
  --isc-clean-border-color: var(--isc-stars-color);

  /* padding, margin, border-radius and gap */
  --isc-padding-1: 1%;
  --isc-padding-1-0: 1% 0;
  --isc-padding-2: 2%;
  --isc-padding-3: 3%;
  --isc-padding-3-2: 3% 2%;
  --isc-padding-5: 5%;

  --isc-margin-0-5: 0 5%;
  --isc-margin-2: 2%;
  --isc-margin-3: 3%;
  --isc-margin-5: 5%;
  --isc-margin-8: 8%;
  --isc-margin-10: 10%;
  --isc-margin-10-5: 10% 5%;
  --isc-margin-15: 15%;

  --isc-gap-2: 2%;
  --isc-gap-15: 15%;
  --isc-gap-2-rem: 2rem;

  --isc-border-radius-15px: 15px;
  --isc-border-radius-3-em: 3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--isc-font-color);
}

body {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  height: 100svh;
}

.filter {
  min-width: 20%;
  height: 100svh;
  border-right: 2px solid var(--isc-border-color-filter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter > select {
  margin: var(--isc-margin-10-5);
  font-size: 1.5rem;
  border-radius: var(--isc-border-radius-15px);
  padding-left: var(--isc-padding-2);
}

input {
  border-radius: var(--isc-border-radius-15px);
  font-size: 1rem;
  text-align: center;
  padding: var(--isc-padding-1-0);
  margin: var(--isc-margin-2);
}

#searchButton {
  font-size: 1rem;
  width: 25%;
  padding: var(--isc-padding-1);
  margin: var(--isc-margin-2);
  border-radius: var(--isc-border-radius-15px);
  border: 1px solid var(--isc-border-color);
  transition: all, 0.3s;
}

#searchButton:hover {
  box-shadow: 1px 1px 5px var(--isc-box-shadow-color);
}

#ratingCheck {
  margin-top: var(--isc-margin-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--isc-gap-15);
  width: 50%;
  height: 10%;
}

.boxStarCheck {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#clean {
  margin-top: var(--isc-margin-15);
  margin-left: var(--isc-margin-5);
  align-self: flex-start;
  font-size: 1rem;
  font-weight: bolder;
  width: 40%;
  border-radius: var(--isc-border-radius-3-em);
  border: 1px solid var(--isc-clean-border-color);
  transition: all, 0.3s;
}

#clean:hover {
  box-shadow: 1px 1px 5px var(--isc-box-shadow-color-color);
}

.products {
  display: grid;
  gap: var(--isc-gap-2-rem);
  margin: var(--isc-margin-5);
  padding: var(--isc-padding-3);
  grid-auto-rows: 35rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  width: 70%;
}

.product {
  padding: var(--isc-padding-3-2);
  display: flex;
  flex-direction: column;
  gap: var(--isc-gap-2);
  align-items: center;
  justify-content: space-between;
  background-color: var(--isc-bg-card-color);
  border-radius: var(--isc-border-radius-3-em);
  border: 1px solid var(--isc-border-color);
  transition: all, 0.5s;
}

.product:hover {
  transform: scale(1.1);
}

.product > h3 {
  padding-top: var(--isc-padding-2);
  font-size: 1.2rem;
  font-size: clamp(1rem, 1vw + 0.5rem, 2rem);
  text-align: center;
  color: var(--isc-title-color);
}

.product > img {
  margin-top: var(--isc-margin-5);
  width: 80%;
  object-fit: contain;
  border-radius: var(--isc-border-radius-3-em);
}

#starColor {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
  width: 50%;
  margin: var(--isc-margin-0-5);
}

.star {
  width: 20px;
  aspect-ratio: 1;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: var(--isc-empty-star);
}

.rated {
  background-color: var(--isc-stars-color);
}

#color {
  margin-left: var(--isc-margin-10);
}

#price {
  font-weight: bolder;
  margin-bottom: var(--isc-margin-3);
}

@media screen and (max-width: 1304px) {
  .filter {
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    height: 15svh;
    border-bottom: 2px solid var(--isc-border-color-filter);
  }

  .filter > select {
    margin: var(--isc-margin-3);
    padding-left: var(--isc-padding-2);
  }

  #searchButton {
    width: 10%;
  }

  #ratingCheck {
    margin-top: 0;
    margin-left: var(--isc-margin-2);
    width: 20%;
    height: 55%;
  }

  #clean {
    margin-top: 0;
    margin-left: 0;
    margin-right: var(--isc-margin-5);
    align-self: center;
    width: 10%;
    padding: var(--isc-padding-1);
  }

  .products {
    width: 100%;
  }
}

@media screen and (max-width: 925px) {
  .filter {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 15svh;
    padding-left: var(--isc-padding-5);
  }

  .filter > select {
    grid-area: 1 / 1 / 2 / 2;
    width: 80%;
  }

  input {
    grid-area: 1 / 2 / 2 / 3;
    width: 50%;
    margin-left: var(--isc-margin-8);
  }

  #searchButton {
    grid-area: 2 / 2 / 3 / 3;
    width: 40%;
    margin-left: var(--isc-margin-8);
  }

  #ratingCheck {
    grid-area: 1 / 3 / 2 / 4;
  }

  #clean {
    grid-area: 3 / 1 / 4 / 2;
    width: 40%;
  }
}

@media screen and (max-width: 430px) {
  .filter {
    height: 40svh;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }

  .filter > select {
    grid-area: 1 / 1 / 2 / 2;
    width: 80%;
    font-size: 1.5rem;
    margin-left: 0;
  }

  input {
    grid-area: 2 / 1 / 3 / 2;
    width: 50%;
    margin-left: 0;
  }

  #searchButton {
    grid-area: 3 / 1 / 4 / 2;
    width: 30%;
    margin-left: 0;
  }

  #ratingCheck {
    grid-area: 4 / 1 / 5 / 2;
  }
  #clean {
    grid-area: 6 / 1 / 7 / 2;
  }
}
